body {
    margin-top: 60px;
}

.listtitle {
    font-size: 150%;
    font-weight: bold;
}

a.listtitle {
    color: #000;
}

pre.code {
  overflow: auto;
  max-width: 100%;
  max-height: 400px;
}

table pre.code {
  max-width: 100%;
  max-height: 300px;
  white-space: pre-wrap;

}

table.codetable pre.code {
  max-height: 100000px;
  margin-left: 0;
  margin-right: 0;

p {
    text-align: justify;
}

.graphviz {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
