{% extends "base.html"%}

{% block content %}
<ul class="list-unstyled">
  {% for post in post_list %}
  <li><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<div>
  <nav>
    <ul class="pager">
      <li>
        {% if page_obj.has_previous %}
        <a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">
          <span>&laquo; Previous</span>
        </a>
        {% else %}
        <span>&laquo; Previous</span>
        {% endif %}
      </li>

      <li>
        {% if page_obj.has_next %}
        <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">
          <span>Next &raquo;</span>
        </a>
        {% else %}
        <span>Next &raquo;</span>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
